
.blog-cards {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
    gap: 30px;
    padding: 100px 0 50px;
    .blog-cards_right{
        display: grid;
        row-gap: 30px;
        & a:nth-child(even){
            background-image: url(/images/blog/blog1.jpg);
        }
        & a:nth-child(odd){
            background-image: url(/images/blog/blog2.png);
        }
    }
    .blog-cards_left{
        display: grid;
        row-gap: 30px;
        & a:nth-child(even){
            background-image: url(/images/blog/blog2.png);
        }
        & a:nth-child(odd){
            background-image: url(/images/blog/blog1.jpg);
        }
    }
   
}

.blog-numberpage {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50px;
        height: 50px;
        border: 1px solid var(--color-bg-cooperate);
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-title);
        transition: all .3s;
    }
    & a:hover{
        border: 1px solid var(--color-phone_btn);
        color: var(--color-phone_btn);
      
    }
    & a.active {
        border: 1px solid var(--color-phone_btn);
        color: var(--color-phone_btn);
    }
}

   