
.contractManufacturing-section{
    margin: 100px;
}
.contractManufacturing-seo {
    margin-top: 100px;
    margin-bottom: 100px;
}
.seo-title {
    margin-bottom: 10px;
}
.seo-subtitle {
    margin-bottom: 20px;
}
.seo__link {
    & img {
        margin-right: 15px;
    }
}
.margin_off {
    margin: 0;
}