@charset "UTF-8";
:root {
  --web-color: #ffffff;
  --color-main-bg: black;
  --color-border: rgba(235, 235, 240, 0.2);
  --color-phone_btn: #5C8EE5;
  --color-phone_btn-hover: #2fa3f0;
  --color-title: #292d33;
  --color-line: #EBEBF0;
  --color-subtitle: #828A99;
  --color-bg-cooperate: #F0F2F5;
  --color-footer-hover: #044cc9;
  --color-border-input: #E4E4EB;
}

:root {
  --BN: "Bebas Neue", cursive;
  --NS: "Noto Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 10px;
  /* ширина для вертикального скролла */
  height: 3px;
  /* высота для горизонтального скролла */
  background-color: transparent;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #979797;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
  background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
  background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  display: none;
  background: linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  display: none;
  background: linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

:root {
  --marginBottom: 150px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.container-main {
  max-width: 1920px;
  margin: 0 auto;
  font-family: var(--NS);
  color: var(--web-color);
  overflow: hidden;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
  overflow-x: hidden;
}

.bg-header__phone_btnMob {
  display: none;
}

.main-bg {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 970px;
  opacity: 0.9;
  z-index: 0;
  margin-bottom: var(--marginBottom);
}

.main-bg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--color-main-bg);
  opacity: 0.4;
  z-index: 0;
}

.main-bg__header {
  position: relative;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 139px;
}

.bg-header__logo {
  padding: 25px 50px;
  border-right: 1px solid var(--color-border);
}

.header-logo_mob.hidden {
  display: none;
}

.header-logo.hidden {
  display: none;
}

.bg-header__list {
  margin-left: 50px;
  margin-top: 34px;
  margin-bottom: 34px;
  display: flex;
}

.bg-header__item:not(:last-child) {
  margin-right: 50px;
}

.bg-header__link {
  position: relative;
  font-size: var(--NS);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--web-color);
  transition: all 0.3s;
}

.after-list::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: var(--color-phone_btn);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: width 0.5s ease-out;
}

.after-list:hover::after, .after-list:focus::after {
  width: 100%;
}

.bg-header__phone {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.bg-header__phone img {
  width: 24px;
  height: 24px;
}

.bg-header__phone_content {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  padding-left: 10px;
  padding-right: 50px;
}
.bg-header__phone_content a {
  color: var(--web-color);
}

.bg-header__phone_btn {
  display: flex;
  justify-content: center;
  padding: 34px 50px;
  background: var(--color-phone_btn);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  color: var(--web-color);
  transition: all 0.5s;
}

.bg-header__phone_btn:hover {
  color: var(--web-color);
  background-color: var(--color-phone_btn-hover);
}

.bg-header__phone_btn:active {
  transform: scale(0.98, 0.98);
}

.main-bg__body {
  height: 735px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  width: 150px;
  height: 2px;
  background-color: var(--color-phone_btn);
}

.main-bg__content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  min-width: 100%;
}

.main-bg__content_title {
  font-family: var(--BN);
  font-weight: 400;
  font-size: 80px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.main-bg__content_subtitle {
  max-width: 720px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 50px;
}

.main-bg__content_btn {
  padding: 25px 60px;
  width: 313px;
}

.slide-main_bg {
  width: 1400px;
}

.main-bg__cards {
  display: flex;
  min-width: 100%;
}

.main-bg__card {
  border: 1px solid var(--color-border);
  padding: 30px 50px;
  flex: 1 1 20%;
}
.main-bg__card img {
  display: block;
  margin-bottom: 20px;
}

.main-bg__card_content {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.contract-menu.active {
  opacity: 1;
  visibility: visible;
  top: 30px;
}

#contract-menu {
  position: relative;
}

.contract-menu {
  transition: all 0.8s;
  width: 300px;
  height: 270px;
  padding: 20px 30px;
  position: absolute;
  left: 0;
  top: 130px;
  z-index: 9;
  background-color: var(--web-color);
  border: 1px solid var(--color-bg-cooperate);
}
.contract-menu ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.contract-menu ul li a {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-title);
  transition: all 0.3s;
}
.contract-menu ul li a:hover {
  color: var(--color-phone_btn);
}

.main-bg-arrow {
  display: none;
}

.main-schemeOfWork {
  margin-bottom: var(--marginBottom);
}

.slide-schemeOfWork {
  min-width: 0;
}

.schemeOfWork {
  margin-top: 30px;
}

.schemeOfWork-title {
  margin-bottom: 50px;
}

.article-title {
  font-family: var(--BN);
  font-weight: 400;
  font-size: 60px;
  line-height: 120%;
  color: var(--color-title);
}

.schemeOfWork-cards {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  width: 100%;
}

.schemeOfWork-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 25%;
}

.schemeOfWork-card__number {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.card-number {
  font-family: var(--BN);
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: var(--color-phone_btn);
}

.cart-line {
  width: 260px;
  height: 1px;
  background: var(--color-line);
  margin-left: 30px;
}

.schemeOfWork-card__title {
  margin-bottom: 10px;
}

.article-card_title {
  font-family: var(--NS);
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  color: var(--color-title);
}

.schemeOfWork-card__subtitle {
  margin-bottom: 20px;
}

.article-card_subtitle {
  font-family: var(--NS);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-subtitle);
}

.schemeOfWork-card__link {
  cursor: pointer;
}

.card-link {
  display: flex;
  align-items: center;
}
.card-link .link_line {
  width: 40px;
  height: 1px;
  background-color: var(--color-phone_btn);
  margin-right: 20px;
}
.card-link a {
  font-family: var(--NS);
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-phone_btn);
  transition: all 0.3s;
}
.card-link a:hover {
  color: var(--color-phone_btn-hover);
}

.main-contractManufacturing {
  margin-bottom: var(--marginBottom);
}

.contractManufacturing-title {
  margin-top: 30px;
  margin-bottom: 50px;
}

.contractManufacturing-cards {
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
}

.contractManufacturing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 590px;
  border: 1px solid var(--color-border);
  transition: all 0.3s;
}

.contractManufacturing-card_content {
  margin: 40px 50px 0 50px;
}

.contractManufacturing-card_title {
  margin-bottom: 10px;
  transition: all 0.3s;
}

.contractManufacturing-card:hover {
  border: 1px solid var(--color-main-bg);
  box-shadow: 1px 1px 10px 1px var(--color-main-bg);
}
.contractManufacturing-card:hover .contractManufacturing-card_title {
  color: var(--color-phone_btn);
}

.contractManufacturing-card-img {
  position: relative;
  overflow: hidden;
}
.contractManufacturing-card-img img {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 293px;
}

.main-tradeMarks {
  margin-bottom: var(--marginBottom);
}

.tradeMarks-title {
  margin-top: 30px;
  margin-bottom: 50px;
}

.tradeMarks-cards {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.tradeMarks-card {
  display: grid;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 10px;
  grid-template-areas: "A B" "A C";
  padding: 50px;
  border: 1px solid var(--color-border);
  transition: all 0.3s;
}

.tradeMarks-card_img {
  grid-area: A;
}

.tradeMarks-card_svg path {
  transition: all 0.3s;
}

.tradeMarks-card_title {
  grid-area: B;
  transition: all 0.3s;
}

.tradeMarks-card_subtitle {
  grid-area: C;
}

.tradeMarks-card:hover {
  border: 1px solid var(--color-phone_btn);
}
.tradeMarks-card:hover .tradeMarks-card_svg path {
  fill: var(--color-phone_btn);
}
.tradeMarks-card:hover .tradeMarks-card_title {
  color: var(--color-phone_btn);
}

.main-attitude {
  margin-bottom: var(--marginBottom);
  display: flex;
  align-items: center;
  -moz-column-gap: 120px;
       column-gap: 120px;
  padding-right: 240px;
}

.attitude-cintainer {
  position: relative;
  z-index: 1;
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.main-attitude_img {
  flex: 1 1 50%;
}
.main-attitude_img img {
  width: 100%;
  height: 100%;
}

.main-attitude_content {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
}

.attitude-title {
  margin-top: 30px;
  margin-bottom: 50px;
}

.attitude-subtitle {
  margin-bottom: 30px;
}
.attitude-subtitle span {
  display: inline-block;
  margin-top: 10px;
}

.main-aerosolproducts {
  margin-bottom: var(--marginBottom);
}

.aerosolproducts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.aerosolproducts-title {
  margin-top: 30px;
  margin-bottom: 50px;
}

.aerosolproducts-content_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 20px;
}

.aerosolproducts-content_item {
  display: flex;
  align-items: center;
}
.aerosolproducts-content_item img {
  width: 30px;
  height: 30px;
}

.aerosolproducts-item_name {
  font-family: var(--NS);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-title);
  margin-left: 20px;
}

.aerosol-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aerosol-img img {
  position: absolute;
  height: 100%;
}
.aerosol-img img:nth-child(1) {
  left: 80px;
}
.aerosol-img img:nth-child(2) {
  right: 80px;
}

.main-blog {
  margin-bottom: var(--marginBottom);
}

.blog-title {
  margin-top: 30px;
  margin-bottom: 50px;
}

.blog-slider_body {
  display: flex;
  width: 4000px;
  overflow-x: hidden;
}

.blog-slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 50px;
  max-width: 705px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s;
}

.blog-slider:hover {
  box-shadow: 1px 1px 5px var(--color-title);
}

.blog-slider:nth-child(odd) {
  background-image: url(/images/blog/blog1.jpg);
}

.blog-slider:nth-child(even) {
  background-image: url(/images/blog/blog2.png);
}

.blog-slider_title {
  font-family: var(--NS);
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  color: var(--web-color);
  margin-bottom: 10px;
}

.blog-slider_subtitle {
  font-family: var(--NS);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--web-color);
}

.blog-linkArrow {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-arrow {
  display: flex;
}

.blog-arrow_left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 60px;
  background-color: var(--color-phone_btn);
  transition: all 0.3s;
}

.blog-arrow_right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-phone_btn);
  width: 80px;
  height: 60px;
  transition: all 0.3s;
}

.blog-arrow_left:hover, .blog-arrow_right:hover {
  background-color: var(--color-phone_btn-hover);
}

.blog-arrow_left:active, .blog-arrow_right:active {
  transform: scale(0.98, 0.98);
}

.main-cooperate {
  height: 550px;
  max-width: 100%;
  overflow: hidden;
}

.white-line {
  height: 75px;
}

.cooperate {
  background-color: var(--color-bg-cooperate);
  display: flex;
  -moz-column-gap: 120px;
       column-gap: 120px;
}

.cooperate-img {
  position: relative;
}
.cooperate-img img {
  width: 100%;
  height: 100%;
  position: relative;
  top: -125px;
}

.cooperate-content {
  max-width: 100%;
  padding: 0 15px;
  margin-top: 100px;
  margin-bottom: 110px;
}

.cooperate-title {
  margin-bottom: 20px;
}

.cooperate-subtitle {
  margin-bottom: 40px;
  max-width: 640px;
}

.cooperate-form {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 30px;
}

.cooperate-form_input {
  position: relative;
}

.cooperate-form_input > label {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-subtitle);
  pointer-events: none;
  transition: all 0.5s;
}

.cooperate-form_input > input:focus ~ label {
  top: -10px;
  font-size: 10px;
  background-color: var(--color-bg-cooperate);
  padding: 0 10px;
}

.cooperate-input_name, .cooperate-input_phone {
  padding: 20px 10px 20px 30px;
  background-color: var(--color-bg-cooperate);
  width: 405px;
  font-family: var(--NS);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-subtitle);
  transition: all 0.3s;
  border: 1px solid var(--color-border-input);
}

.cooperate-input_name:hover, .cooperate-input_phone:hover {
  border-color: var(--color-phone_btn);
}

.cooperate-input_name:focus, .cooperate-input_phone:focus {
  border-color: var(--color-phone_btn);
}

.cooperate-content_submit {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.btn_submit {
  background: var(--color-phone_btn);
  padding: 20px 50px;
  font-family: var(--NS);
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: var(--web-color);
  cursor: pointer;
  transition: all 0.3s;
}

.btn_submit:hover {
  background: var(--color-phone_btn-hover);
  color: var(--web-color);
}

.btn_submit:active {
  transform: scale(0.98, 0.98);
}

.cooperate-content_shield {
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.shield_content {
  max-width: 380px;
  font-family: var(--NS);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: var(--color-subtitle);
}

.footer-contacts {
  display: grid;
  grid-template-columns: repeat(2, 3fr) 5fr 1fr;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--color-border);
}

.footer-contacts_items {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-contacts_tel a {
  font-family: var(--NS);
  font-weight: 600;
  font-size: 32px;
  line-height: 160%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--color-title);
}

.footer-contacts_address {
  display: flex;
  align-self: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer-contacts_address img {
  width: 24px;
  height: 24px;
}
.footer-contacts_address a {
  font-family: var(--NS);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-title);
}

.footer-contacts_mail {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer-contacts_mail img {
  width: 24px;
  height: 24px;
}
.footer-contacts_mail a {
  font-family: var(--NS);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-title);
}

.footer-contacts_social {
  display: flex;
  justify-self: end;
  align-self: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.footer-contacts_social img {
  width: 24px;
  height: 24px;
}

.footer-nav {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 6fr 3fr 3fr;
  height: 265px;
  border-bottom: 1px solid var(--color-border);
}

.footer-title {
  margin-bottom: 30px;
}
.footer-title a {
  font-family: var(--NS);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-title);
  transition: all 0.3s;
}

.footer-title > a:hover {
  text-shadow: 1px 1px 15px var(--color-footer-hover);
  color: var(--color-footer-hover);
}

.footer-nav_contractmanufacturing__subtitle {
  height: 100%;
}

.footer-nav_contractmanufacturing__list {
  display: grid;
  grid-template-columns: 3fr 3fr;
  row-gap: 15px;
}

.footer-item {
  padding-left: 20px;
  font-family: var(--NS);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-subtitle);
  transition: all 0.3s;
}

.footer-item:hover {
  text-shadow: 1px 1px 15px var(--color-footer-hover);
  color: var(--color-footer-hover);
}

.footer-nav_ownbrands__list {
  display: grid;
  row-gap: 15px;
}

.footer-nav_about__title:last-child {
  margin-bottom: 0;
}

.footer-cooperate {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-cooperate-text {
  font-family: var(--NS);
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: var(--color-subtitle);
}

.footer-cooperate_privacy {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--color-subtitle);
}

* {
  font-family: var(--NS);
}

.zeroingIndents {
  margin: 0;
}

.about-cards_color {
  color: var(--color-title);
}

.about-cards {
  position: relative;
}

.about-style {
  font-size: 16px;
  line-height: 160%;
  color: var(--color-main-bg);
}
.about-style a {
  color: var(--color-main-bg);
}

.bg-header__phone_content a img {
  margin-right: 10px;
}

.about-section {
  min-height: 270px;
  background-color: var(--color-bg-cooperate);
  padding: 50px 0;
}

.about-title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: var(--BN);
  font-weight: 400;
  font-size: 80px;
  line-height: 120%;
  color: var(--color-title);
}

.about-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.about-nav a {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  margin-bottom: 10px;
  color: var(--color-subtitle);
}
.about-nav a:last-child {
  color: var(--color-title);
}

.line_gray {
  width: 14px;
  height: 1px;
  margin-bottom: 10px;
  background-color: var(--color-subtitle);
}

.about-experts_body {
  display: grid;
  grid-template-columns: 4fr 7fr;
  align-items: center;
  -moz-column-gap: 120px;
       column-gap: 120px;
  padding: 100px 0;
}

.about-experts_img img {
  width: 100%;
  height: 100%;
}

.about-experts_title {
  max-width: 600px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.about-production {
  margin: 150px 0;
}

.about-img_mobile {
  display: none;
}

.about-production_body {
  display: grid;
  grid-template-columns: 6fr 5fr;
  -moz-column-gap: 120px;
       column-gap: 120px;
}

.about-production_title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.about-production_subtitle {
  margin-bottom: 30px;
}
.about-production_subtitle span {
  display: inline-block;
  margin-top: 10px;
}

.about-production_list {
  display: grid;
  grid-template-columns: 3fr 3fr;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 20px;
}

.about-production_img img {
  width: 100%;
  height: 100%;
}

.about-research {
  margin-bottom: 150px;
  position: relative;
}

.about-research_title {
  max-width: 600px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.about-research_subtitle {
  display: grid;
  grid-template-columns: repeat(2, 6fr);
  -moz-column-gap: 100px;
       column-gap: 100px;
  margin-bottom: 50px;
}

.about-research_slider {
  display: grid;
  grid-template-columns: repeat(4, 6fr);
}

.about-research_slide {
  margin-bottom: 30px;
}
.about-research_slide img {
  width: 705px;
  height: 400px;
}

.about-research_arrow {
  display: flex;
  justify-content: flex-end;
}

.contractManufacturing-section {
  margin: 100px;
}

.contractManufacturing-seo {
  margin-top: 100px;
  margin-bottom: 100px;
}

.seo-title {
  margin-bottom: 10px;
}

.seo-subtitle {
  margin-bottom: 20px;
}

.seo__link img {
  margin-right: 15px;
}

.margin_off {
  margin: 0;
}

.avtohim-body {
  display: flex;
  position: relative;
  overflow-y: hidden;
}

.avtohim-img img {
  position: absolute;
  z-index: 9;
  top: 23px;
  right: 0;
}

.avtohim-subtitle span {
  display: inline-block;
  margin-top: 10px;
}

.avtohim-kinds {
  margin-bottom: 150px;
}

.avtohim-kinds_title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.avtohim-kinds_subtitle {
  max-width: 840px;
  margin-bottom: 50px;
}

.avtohim-kinds_lists {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  -moz-column-gap: 56px;
       column-gap: 56px;
}
.avtohim-kinds_lists .avtohim-kinds_list {
  display: grid;
  row-gap: 20px;
}
.avtohim-kinds_lists ul {
  list-style-position: outside;
}

.avtohim-kinds_item {
  background: url("/images/products_avtohim/line.svg") no-repeat left center;
  padding-left: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-title);
}

.own-products {
  margin-top: 100px;
  margin-bottom: 150px;
}

.catalog {
  background-color: var(--color-bg-cooperate);
  margin: 150px 0;
}

.catalog-body {
  display: grid;
  grid-template-columns: 6fr 6fr;
}

.catalog-content {
  padding: 100px 0;
}

.catalog-content_lists {
  display: block;
  margin-bottom: 50px;
}
.catalog-content_lists .catalog-content_list {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
}

.catalog-img {
  background-repeat: no-repeat;
  background-position: right;
}

.download-catalog {
  padding: 25px 60px;
  background-color: var(--color-phone_btn);
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: white;
  transition: all 0.5s;
}

.download-catalog:hover {
  background-color: var(--color-phone_btn-hover);
}

.blog-cards {
  display: grid;
  grid-template-columns: repeat(2, 6fr);
  gap: 30px;
  padding: 100px 0 50px;
}
.blog-cards .blog-cards_right {
  display: grid;
  row-gap: 30px;
}
.blog-cards .blog-cards_right a:nth-child(even) {
  background-image: url(/images/blog/blog1.jpg);
}
.blog-cards .blog-cards_right a:nth-child(odd) {
  background-image: url(/images/blog/blog2.png);
}
.blog-cards .blog-cards_left {
  display: grid;
  row-gap: 30px;
}
.blog-cards .blog-cards_left a:nth-child(even) {
  background-image: url(/images/blog/blog2.png);
}
.blog-cards .blog-cards_left a:nth-child(odd) {
  background-image: url(/images/blog/blog1.jpg);
}

.blog-numberpage {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.blog-numberpage a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  border: 1px solid var(--color-bg-cooperate);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-title);
  transition: all 0.3s;
}
.blog-numberpage a:hover {
  border: 1px solid var(--color-phone_btn);
  color: var(--color-phone_btn);
}
.blog-numberpage a.active {
  border: 1px solid var(--color-phone_btn);
  color: var(--color-phone_btn);
}

.blog-more_bg {
  background-image: url(/images/blog/blog2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blog-more_color {
  color: var(--web-color);
}
.blog-more_color a {
  color: var(--web-color);
}
.blog-more_color div {
  background-color: var(--web-color);
}
.blog-more_color a:last-child {
  color: var(--web-color);
}

.blog-more_arrow {
  justify-content: flex-end;
}

.blog-information {
  padding: 100px 0 150px;
}

.blog-information_body {
  display: grid;
  grid-template-columns: 4fr 8fr;
}

.blog-information_links__text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-subtitle);
}

.blog-information_links__socials {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.blog-information_links__socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid var(--color-bg-cooperate);
  transition: all 0.3s;
}
.blog-information_links__socials a img {
  width: 24px;
  height: 24px;
}
.blog-information_links__socials a:hover {
  border: 1px solid var(--color-phone_btn);
}

.blog-information_content__title {
  margin-bottom: 20px;
}

.blog-information_content__title2 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--color-title);
}

.blog-information_content__subtitle {
  color: var(--color-title);
}
.blog-information_content__subtitle span {
  display: block;
}
.blog-information_content__subtitle span:not(:last-child) {
  margin-bottom: 15px;
}
.blog-information_content__subtitle img {
  width: 100%;
}

.blog-information_content__subtitle:not(:last-child) {
  margin-bottom: 50px;
}

.blog-information_content__list {
  margin-bottom: 50px;
}

.blog-information_numberlist li {
  color: var(--color-phone_btn);
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  margin-left: 16px;
}
.blog-information_numberlist li span {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-title);
  margin-left: 10px;
}

.contacts-requisites {
  display: grid;
  grid-template-columns: 4fr 4fr 3fr 1fr;
}

.contacts_tel a {
  font-size: 48px;
}

.contacts_address, .contacts_mail, .contacts_socials {
  display: flex;
  align-items: center;
}

.contacts_address > a, .contacts_mail > a, .contacts_socials > a {
  font-size: 22px;
}
.contacts_address > a img, .contacts_mail > a img, .contacts_socials > a img {
  width: 36px;
  height: 36px;
}

.contacts-map {
  padding-bottom: 150px;
}

.politics-section {
  margin-top: 100px;
  margin-bottom: 150px;
}

.politics-block span:not(:last-child) {
  display: inline-block;
  margin-bottom: 20px;
}

.error {
  padding: 150px 0;
}

.error_body {
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 480px;
  margin: 0 auto;
}
.error_body h2 {
  font-family: var(--BN);
  font-style: normal;
  font-weight: 400;
  font-size: 300px;
  line-height: 100%;
  color: var(--color-phone_btn);
}
.error_body h3 {
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  text-align: center;
  color: var(--color-title);
}
.error_body p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: var(--color-title);
}

.error-button a {
  display: block;
  padding: 25px 60px;
  background-color: var(--color-phone_btn);
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
}

.no-scroll {
  overflow-y: hidden;
}

.popup {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s;
}

.popup.open-popup {
  opacity: 1;
  visibility: visible;
}

.popup-body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup-content {
  position: relative;
  background: var(--color-bg-cooperate);
  max-width: 460px;
  padding: 40px 50px;
}

.popup-title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #292D33;
  margin-bottom: 30px;
}

.popup-subtitle {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828A99;
  margin-bottom: 20px;
}

.popup-btn {
  width: 100%;
  margin-bottom: 20px;
}

.popup-close, .popup-close2 {
  position: absolute;
  cursor: pointer;
  top: 30px;
  right: 15px;
}

.popup-form_input {
  margin-bottom: 20px;
}

.popup-form_input > input {
  width: 100%;
}

.popup-img {
  margin-bottom: 30px;
}
.popup-img img {
  max-width: 360px;
}

.popup-btn2 {
  display: flex;
  justify-content: center;
  padding: 20px 50px;
  background: var(--color-phone_btn);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  color: var(--web-color);
  transition: all 0.5s;
}

.popup-btn2:hover {
  color: var(--web-color);
  background-color: var(--color-phone_btn-hover);
}

.scroll {
  overflow-y: auto;
}

.burger-wrapper {
  border-right: 1px solid var(--color-border);
  height: 100%;
}

.schemeOfWork-card_arrow {
  display: none;
}

#nav-icon1 {
  display: none;
  width: 30px;
  height: 25px;
  position: relative;
  z-index: 99;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: var(--web-color);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
  width: 70%;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg);
  background-color: var(--color-main-bg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
}

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg);
  background-color: var(--color-main-bg);
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(255, 255, 255);
}

.mobile-nav-active {
  opacity: 1;
  visibility: visible;
}

.mob-nav {
  padding: 100px 0 30px 35px;
}

.mob-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.mob-list li a {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-title);
  transition: all 0.3s;
}
.mob-list li a:hover {
  color: var(--color-phone_btn);
}

.mob-sublist {
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mob-sublist li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-subtitle);
}

.mob-link {
  position: relative;
}

.mob-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 200px;
  padding-left: 35px;
  border-top: 1 solid var(--color-border);
}

.mob-tel a {
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--color-title);
}

.mob-address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mob-address a {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-title);
}
.mob-address a img {
  margin-right: 10px;
}

.mob-socials {
  display: flex;
  gap: 10px;
}

@media (max-width: 1740px) {
  .bg-header__phone {
    display: none;
  }

  .cooperate-img img {
    top: -100px;
  }
}
@media (max-width: 1560px) {
  .main-bg__body {
    height: 762px;
  }

  .main-bg__header {
    position: flex;
    align-items: center;
    justify-content: space-between;
  }

  .burger-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 65px;
  }

  #nav-icon1 {
    display: block;
  }

  .bg-header__nav {
    display: none;
  }

  .bg-header__logo {
    border-right: 0;
    padding: 0;
    justify-items: flex-start;
  }

  .bg-header__phone_btn-close {
    display: none;
  }

  .bg-header__phone_btnMob {
    display: block;
    padding: 22px 28px;
    background: var(--color-phone_btn);
  }
  .bg-header__phone_btnMob svg path {
    fill: var(--web-color);
  }
}
@media (max-width: 1480px) {
  .schemeOfWork-card_arrow {
    justify-content: flex-end;
    display: flex;
    margin-top: 30px;
  }

  .main-bg-arrow {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 50%;
  }
  .main-bg-arrow div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100px;
    background-color: transparent;
    border: 1px solid var(--color-border);
    transition: all 0.5s;
  }
  .main-bg-arrow div:hover {
    background-color: var(--color-phone_btn);
    opacity: 0.5;
    transform: scale(0.95, 0.95);
  }
}
@media (max-width: 1350px) {
  .main-bg__header {
    margin-bottom: 0px;
  }

  .main-bg__body {
    height: 850px;
    margin-top: 50px;
  }

  .main-bg__cards {
    width: 1400px;
  }

  .main-bg__card {
    flex: 0 0 20%;
  }

  .main-tradeMarks {
    margin-bottom: 50px;
  }

  .main-attitude {
    margin-bottom: 100px;
    flex-direction: column;
    row-gap: 50px;
    padding-right: 0;
  }

  .main-attitude_img {
    width: 100%;
    flex: 1 1 100%;
  }

  .main-aerosolproducts {
    margin-bottom: 100px;
  }

  .aerosolproducts {
    grid-template-columns: 1fr;
  }

  .aerosolproducts-content {
    margin-bottom: 30px;
  }

  .main-blog {
    margin-bottom: 50px;
  }

  .footer-contacts_items {
    flex-direction: column;
  }

  .main-cooperate {
    height: 100%;
  }

  .cooperate-img {
    display: none;
  }

  .white-line {
    display: none;
  }

  .cooperate-content {
    margin: 50px auto;
  }

  .footer-contacts {
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(2, 3.5fr) 4fr 1fr;
  }
}
@media (max-width: 1160px) {
  .tradeMarks-card {
    grid-template-areas: "A B" "C C";
  }

  .tradeMarks-card_title {
    align-self: start;
  }

  .tradeMarks-card_img svg {
    width: 100px;
    height: 100px;
  }

  .tradeMarks-card_img {
    align-self: center;
    justify-self: start;
  }
}
@media (max-width: 1040px) {
  .footer-nav {
    height: 100%;
    grid-template-columns: 5fr 4fr 3fr;
  }

  .footer-nav_contractmanufacturing__list {
    grid-template-columns: 6fr;
  }
}
@media (max-width: 1024px) {
  .article-title {
    margin-bottom: 20px;
  }

  .schemeOfWork-cards {
    -moz-column-gap: 0px;
         column-gap: 0px;
  }

  .contractManufacturing-cards {
    grid-template-columns: repeat(2, 50%);
  }

  .main-schemeOfWork {
    margin-bottom: 100px;
  }

  .main-contractManufacturing {
    margin-bottom: 100px;
  }

  .blog-slider {
    width: 100%;
  }

  .footer-contacts {
    grid-template-columns: 1fr;
    row-gap: 25px;
    padding-bottom: 0;
  }

  .footer-contacts_social {
    justify-self: start;
  }

  .footer-contacts_items {
    row-gap: 10px;
  }
}
@media (max-width: 890px) {
  .cooperate-form {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .main-bg {
    height: 100%;
  }

  .main-bg__content {
    margin-top: 0;
  }

  .main-bg__body {
    height: 100%;
    justify-content: flex-start;
    gap: 30px;
  }

  .main-bg__content_title {
    font-size: 48px;
  }

  .main-bg__content_subtitle {
    font-size: 14px;
  }

  .main-bg-arrow {
    justify-items: flex-end;
  }

  .main-bg__cards {
    width: 1400px;
    overflow-x: hidden;
  }

  .schemeOfWork-cards {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }

  .tradeMarks-cards {
    grid-template-columns: 1fr;
  }

  .tradeMarks-card {
    padding: 30px 30px 30px 10px;
  }

  .footer-nav {
    grid-template-columns: 5fr 5fr 2fr;
  }
}
@media (max-width: 670px) {
  .contractManufacturing-cards {
    grid-template-columns: repeat(1, 100%);
  }

  .aerosolproducts-content_list {
    grid-template-columns: 1fr;
  }

  .aerosolproducts-products {
    grid-template-columns: repeat(2, 1fr);
  }
  .aerosolproducts-products .none {
    display: none;
  }

  .blog-slider_title {
    font-size: 20px;
    line-height: 120%;
  }

  .blog-slider_subtitle {
    display: none;
  }

  .footer-nav {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .footer-cooperate {
    flex-direction: column;
    row-gap: 10px;
  }

  .popup-title {
    font-size: 40px;
  }

  .popup-subtitle {
    font-size: 14px;
  }

  .popup-img img {
    max-width: 285px;
  }
}
@media (max-width: 550px) {
  .contractManufacturing-title {
    margin-bottom: 20px;
  }

  .contractManufacturing-card_content {
    margin: 20px 20px 0 10px;
  }

  .contractManufacturing-card {
    min-height: 430px;
  }

  .cooperate-content_submit {
    flex-direction: column;
    row-gap: 30px;
  }
}
@media (max-width: 424px) {
  .main-bg {
    margin-bottom: 100px;
  }

  .main-bg__content_btn {
    width: 100%;
    font-size: 14px;
  }

  .main-bg__card_content {
    font-size: 14px;
  }

  .article-title {
    font-size: 36px;
  }

  .schemeOfWork-cards {
    -moz-column-gap: 67px;
         column-gap: 67px;
  }

  .article-card_title {
    font-size: 20px;
  }

  .article-card_subtitle {
    font-size: 14px;
  }

  .tradeMarks-card_img svg {
    width: 80px;
    height: 80px;
  }

  .blog-slider {
    padding: 100px 20px 20px 20px;
    width: 345px;
    height: 195px;
  }

  .cooperate-input_name, .cooperate-input_phone, .shield_content, .btn_submit {
    width: 100%;
  }

  .footer-contacts_address a, .footer-contacts_mail a {
    font-size: 14px;
  }

  .footer-nav {
    padding-bottom: 20px;
  }

  #popup-submit {
    padding: 20px 35px;
  }

  .popup-btn2 {
    padding: 20px 35px;
  }

  .popup-img img {
    max-width: 200px;
  }
}
@media (max-width: 376px) {
  .schemeOfWork-cards {
    -moz-column-gap: 18px;
         column-gap: 18px;
  }
}
@media (max-width: 321px) {
  .schemeOfWork-cards {
    -moz-column-gap: 0px;
         column-gap: 0px;
  }

  .blog-slider_title {
    font-size: 16px;
  }
}
#nav-icon2 {
  display: none;
  width: 30px;
  height: 25px;
  position: relative;
  z-index: 99;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: var(--color-main-bg);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon2 span:nth-child(1) {
  top: 0px;
}

#nav-icon2 span:nth-child(2) {
  top: 10px;
  width: 70%;
}

#nav-icon2 span:nth-child(3) {
  top: 20px;
}

#nav-icon2.open span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg);
  background-color: var(--color-main-bg);
}

#nav-icon2.open span:nth-child(2) {
  opacity: 0;
}

#nav-icon2.open span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg);
  background-color: var(--color-main-bg);
}

@media (max-width: 1560px) {
  #nav-icon2 {
    display: block;
  }
}
@media (max-width: 1350px) {
  .about-arrow {
    width: 100%;
  }

  .about-research {
    margin-bottom: 100px;
  }
}
@media (max-width: 1200px) {
  .about-production {
    margin: 100px 0;
  }

  .about-production_body {
    grid-template-columns: 1fr;
  }

  .about-production_img {
    display: none;
  }

  .about-img_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }
  .about-img_mobile img {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .about-experts_body {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }

  .about-research_subtitle {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .about-experts_body {
    grid-template-columns: 1fr;
    padding-top: 0;
    padding-bottom: 50px;
  }

  .about-experts_img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
  .about-experts_img img {
    width: 70%;
    height: 70%;
  }

  .about-research_slider {
    display: flex;
  }

  .about-img_mobile img {
    width: 100%;
  }

  .about-research_slide {
    width: 80%;
  }
  .about-research_slide img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 470px) {
  .about-production_list {
    grid-template-columns: 1fr;
  }

  .about-title {
    font-size: 48px;
  }
}
@media (max-width: 425px) {
  .about-experts_img img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1090px) {
  .avtohim-img {
    display: none;
  }

  .avtohim-kinds {
    margin-bottom: 100px;
  }

  .avtohim-kinds_lists {
    grid-template-columns: repeat(2, 6fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 20px;
  }
}
@media (max-width: 1090px) and (max-width: 600px) {
  .avtohim-kinds_lists {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1560px) {
  .own-products {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media (max-width: 1560px) {
  .catalog {
    margin: 50px 0;
  }
}
@media (max-width: 1330px) {
  .catalog-body {
    padding: 50px 0;
    grid-template-columns: 1fr;
    background-image: none;
  }

  .catalog-content {
    padding: 0;
  }

  .catalog-img {
    display: none;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
}
@media (max-width: 600px) {
  .catalog-body {
    display: flex;
    flex-direction: column;
  }

  .catalog-content_lists .catalog-content_list {
    grid-template-columns: 1fr;
  }

  .catalog-img {
    display: block;
    margin-top: 50px;
    height: 500px;
    background-position: center;
    background-size: cover;
  }
}
@media (max-width: 1350px) {
  .blog-numberpage {
    margin-bottom: 50px;
  }
}
@media (max-width: 1024px) {
  .blog-cards {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .blog-cards_right, .blog-cards_left {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 424px) {
  .blog-cards {
    padding: 50px 0 50px;
    gap: 10px;
  }
  .blog-cards .blog-cards_right {
    row-gap: 10px;
  }
  .blog-cards .blog-cards_left {
    row-gap: 10px;
  }
}
@media (max-width: 1024px) {
  .blog-slider_title {
    font-size: 20px;
  }

  .blog-slider_subtitle {
    display: none;
  }
}
@media (max-width: 768px) {
  .blog-information_body {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 30px;
  }

  .blog-information {
    padding: 50px 0;
  }

  .blog-information_content__subtitle:not(:last-child) {
    margin-bottom: 30px;
  }

  .blog-information_numberlist li span {
    font-size: 14px;
  }
}
@media (max-width: 1400px) {
  .contacts-requisites {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .contacts_socials {
    justify-self: flex-start;
  }
}
@media (max-width: 1024px) {
  .contacts-map {
    margin: 50px 0;
    padding-bottom: 0;
  }
}
@media (max-width: 1024px) {
  .contacts_tel a {
    font-size: 32px;
  }
}
@media (max-width: 1560px) {
  .politics-section {
    margin: 50px 0;
  }
}
@media (max-width: 424px) {
  .error {
    padding: 50px 0;
  }

  .error_body h2 {
    font-size: 200px;
  }
  .error_body h3 {
    font-size: 26px;
  }
  .error_body p {
    font-size: 14px;
  }

  .error-button a {
    padding: 25px 50px;
  }
}/*# sourceMappingURL=style.css.map */